/* Fondo de la navbar */
.navbar {
  background: radial-gradient(circle, #bf64f3 0%, #9634cf 40%, #630599 100%);
}

/* Marca */
.navbar-brand {
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 0.5px;
}

/* Links */
.navbar-nav .nav-link {
  transition: all 0.2s ease-in-out;
  font-size: large;
}

.navbar-nav {
  width: 100%;
  column-gap: 10px;
}

/* Hover en links */
.navbar-nav .nav-link:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

/* Link activo */
.nav-link.active {
  color: #fff;
  border-bottom: 1px solid #d6b3ff;
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.4);
}

.navbar-toggler-icon {
  filter: invert(1);
}

.nav-link {
  color: #dad7d7;
}