.footer {
  background: radial-gradient(circle, #964ac2 0%, #7c2bac 40%, #47056d 100%);
  color: #fff;
}

.footer h5 {
  font-weight: bold;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  transition: 0.2s;
  color: #bbb;
}

.footer-links a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;      /* <-- esto es lo que faltaba */
  left: 0;
  width: 100%;
  height: 180px;
}
